body {
    background: #c2c2c2;
}

#logo {
    background-color: #8a8a8a;

}

#welcome {
    background-color: #8a8a8a;

}

#nav {
    background-color: #8a8a8a;

}

#content {
    background-color: #FFF;
}
#footer {
    background-color: #8a8a8a;
}

#forms {
    max-width: 600px;
}