body {
    background: #e4e9f3;
}

#logo {
    background-color: #003c91;
    border: 1px solid #002271;
    border-bottom: 0px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-top: 1em;
    padding: 1em;
}

#welcome {
    background-color: #78d1e0;
    border: 1px solid #002271;
    border-top-color: #202b8a;
    border-bottom-color: #202b8a;
    border-right: 0px;
    padding: 1em;
}

#nav {
    background-color: #78d1e0;
    border: 1px solid #002271;
    border-top-color: #202b8a;
    border-bottom-color: #202b8a;
    border-left: 0px;
    padding: 0.5em;
}

#content {
    background-color: #FFF;
    border: 1px solid #002271;
    border-bottom: 0px;
    border-top: 0px;
    padding: 1em;
}
#footer {
    background-color: #78d1e0;
    border: 1px solid #002271;
    border-top-color: #202b8a;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 1em;
}

a {
    color: #413ca1;
}

a:hover {
   color: #d4b467;
}