body {
    background: #e2faf3;
}

a{
    color:#418975;
}

a:hover{
    color: #162E27;
}

#logo {
    background-color: #6de4c3;
    color: #162E27;

}

#nav {
    background-color: #e2faf3;

}

#content {
    background-color: #FFF;
    padding-top: 0.5em;
}
#footer {
    padding-top: 0.5em;
    background-color: #6de4c3;
}

.card {
    border-color: #6de4c3;
}

div.card-divider {
    background-color: #99ecd5;
    color:#162E27;
}

.callout {
    border-color: #6de4c3;
}

.subheader {
    color:#8ae9cf;
}

#message {
    display: none;
}